*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background: hsl(211, 68%, 94%);
  min-height: 100vh;
  display: grid;
  place-content: center;
  place-items: center;
}
.head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: .5rem 1rem;
}
main{
  width: 60%;
  padding: 20px;
  background: #ffffff;
  border-radius: .6rem;
  margin: 0 auto;
}

.number{
  font-size: 1rem;
  color: white;
  background:  #253b94;
  padding: 9px;
  border-radius: 20%;
  aspect-ratio:  1;

}
.attribution{
  text-align: center;
}

@media only screen and (max-width: 600px) {
  main{
      width: 100%;
      min-height: 100vh;
      padding: 0;
  }    
}